@section Scripts {
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/portfolioviewer")
}

<div>
    <h1><span id="portfolioName" class="label label-info"></span></h1>
    <br />

    <div class="panel panel-primary">
        <div class="panel-heading">Stocks / Funds</div>
        <table id="stockFundDataTable" class="table table-bordered table-responsive table-striped">
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Type</th>
                <th>Purchase Price</th>
                <th>Quantity</th>
                <th>Cost</th>
                <th>Last Trade Price</th>
                <th>Market Value</th>
                <th>Dividend Yield</th>
                <th>Gain</th>
                <th>Gain %</th>
            </tr>
        </table>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Bonds</div>
        <table id="bondDataTable" class="table table-bordered table-responsive table-striped">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Face Value</th>
                <th>Coupon Rate</th>
                <th>Purchase Date</th>
                <th>Maturity Date</th>
                <th>Years to Maturity</th>
                <th>Required Return</th>
                <th>Bond Price</th>
            </tr>
        </table>
    </div>

    <span id="portfolioTotalValue" class="label label-success"></span>

    <br />
    <br />

    <div class="panel panel-info">
        <div class="panel-heading">Calculation Explanations</div>
        <span class="text-info"><b>Stock Gain:</b> (Quantity * Last Trade Price) + ((Dividend Yield / Last Trade Price) * Quantity) [Yearly Dividend]</span><br />
        <span class="text-info"><b>Fund Gain:</b> (Quantity * Last Trade Price) + ((Dividend Yield / Last Trade Price) * 4 * Quantity) [Quarterly Dividend]</span><br />
        <span class="text-info"><b>Bond Price:</b> ((Face Value / (1 + Required Return) ^ Years to Maturity) + (Coupon Rate x Face Value x ((1 - (1 + Required Return) ^ -Years to Maturity)) / Required Return)</span>
    </div>
</div>
<div>
    <h4>Get Quote for Stocks/Funds by Symbol</h4>
    <input type="text" id="securitySym" size="4" />
    <input type="button" class="btn btn-default" value="Search" onclick="loadSecurity();" />
    <span id="symbolError" class="label label-danger"></span>
</div>